#divFo{
    font-size: small;
    text-align: center;
  }
  footer {
    position: relative;
    bottom: 0;
    background-color: #F29727;
    height: 80px;
}

.container img{
    width: 500px;
    height: 600px;
}

body{
    font-family: sans-serif;
    margin: 0; 

}

#logo{
    width: 150px;

} 

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: #F29727;
}

.logo{
    display: flex;
    height: 80px;
    align-items: center;
}

#columenu{
    background-color: #f08f1a;
}

#iconosFo{
    font-size: 20px;
}

#admincentro{
    margin-top: 80px;
    width: auto;
    height: auto;
}

#verproyectos{
    margin-top: 50px;
    width: auto;
    height: auto;
    margin-bottom: 80px;
}

.table-margin-bottom {
    margin-bottom: 100px;
}